name: CD

on:
  workflow_run:
    workflows: [ "CI pipeline" ]
    types:
    -   completed

jobs:
    deploy:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
# --------------------------continous development
