name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    -   name: Setting up access
        run: |
           echo "${{ secrets.EC2_KEY }}" > ~/codesnippet.pem
           chmod 400 ~/codesnippet.pem

    -   name: login to ec2
        run: |
          ssh -o StrictHostKeyChecking=no \
            -i ~/codesnippet.pem \
            ubuntu@${{ secrets.EC2_HOST }}

    -   name: deploying in ec2
        run: |
              cd /home/ubuntu/SnippetValut
              git pull origin main
              sudo docker compose down
              sudo docker compose build
              sudo docker compose up -d
